pip
testresources
setuptools
numpy==1.19.4 ; python_version < '3.10'
numpy==1.24.4 ; python_version > '3.6'
future
mock
keras_preprocessing
keras_applications
gast==0.2.1
protobuf
pybind11
cython
pkgconfig
packaging
tensorflow
pillow<9
pyaudio
neopixel ; python_version < '3.10'
adafruit_blinka ; python_version > '3.6'
adafruit-circuitpython-neopixel-spi ; python_version > '3.6'
jetson-stats
