pip
testresources
setuptools
numpy<=1.24.4
future
mock
keras_preprocessing
keras_applications
gast==0.2.1
protobuf
pybind11
cython
pkgconfig
packaging
tensorflow
pillow<9
pyaudio
neopixel
adafruit_blinka
jetson-stats
shapely
